.top {
    background: url("../images/home-background.png") center no-repeat #6EBD63
}
.joinUs {
    background: url("../images/join-Us.png") center no-repeat;
    color:white;
    font-size: 17px;
    background-size: cover;
}
.joinUs a {
    color:black;
}
.contactForm {
    background-color:#6EBD63;
}
.logo {
    height:199px;
}
.textSlider {
    color:yellow;
}
.title-bar {
    width: 100%}
.title-bar a {
    color: #666;
    padding: .5em 1em;
    display: inline-block;
}
.title-bar img {
    margin: 0;
}
.title-bar input {
    margin-bottom: -1px;
    border-top: 0;
    padding: .7em 0;
    text-indent: 1em;
}
.title-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.title-bar .search-form {
    float: right;
}
body.has-title-bar-fixed {
    padding-top: 2.5em;
}
.cover {
    width: 100%;
    height: 100vh;
    display: table;
    padding: 0;
}
.cover .cover-content {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.title-bar .logo {
    padding: 1.5em 0;
    width: 3em;
}
.svg.backgroundsize .title-bar .logo {
    background: url("../images/bakfy.png") center center no-repeat;
    background-size: 100%}
.svg.backgroundsize .title-bar .logo img {
    opacity: 0;
}
#cover h1 {
    margin-top: .5em;
}
#cover .logo {
    display: inline-block;
    max-width: 50%}
#intro img {
    margin-top: 2em;
    margin-bottom: 0;
}
#intro .logo {
    max-width: 50%}
#price-smile {
    display: inline-block;
    margin: 2em;
}
.svg.backgroundsize #price-smile {
    background: #ff6 url("../img/base/bg-price.svg") center top no-repeat;
    background-size: 100%;
    border-radius: 100%;
    transition: background-position .25s ease-in-out;
}
.svg.backgroundsize #price-smile img {
    width: 100%;
    opacity: 0;
    margin-bottom: 0;
}
.svg.backgroundsize #price-smile:hover {
    background-position: center 100%}
.graphic {
    margin-top: 1em;
    margin-bottom: 1em;
}
#cover .reveal {
    display: inline-block;
    text-indent: -20em;
}
.wf-active #cover, .wf-active #cover .logo, .wf-active #cover .fadeIn, .wf-active #cover .reveal, .wf-active #logo {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.wf-active #cover .fadeIn, .wf-active #logo {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
.wf-active #cover .logo {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.wf-active #cover .reveal {
    -webkit-animation-name: reveal;
    -moz-animation-name: reveal;
    -o-animation-name: reveal;
    animation-name: reveal;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.wf-active #logo {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

/*Contact Form*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
  margin-top:30px;
    margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}
#name{
    background-image: url(../images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(../images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
  background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(../images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(../images/email.svg);
    background-size: 30px 30px;
  background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(../images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

#button-blue{
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #6EBD63;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}
    
.submit:hover {
    color: #6EBD63;
}
    
.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}
/*Social Media*/
.share-buttons{
    list-style: none;
}
.share-buttons li{
    display: inline;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: black url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: lightgrey;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}